.button{
    -fx-background-image: url('/Icons/Back.png');
    -fx-width: 40px;
    -fx-height: 36px;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}