.button{
    -fx-background-image: url('/Icons/Bookmark.png');
    -fx-width: 36px;
    -fx-height: 36px;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-border-width: 0;
    -fx-background-color: #f7f7f7;
    -fx-border-color: transparent;
}