.button{
    -fx-background-image: url('/Icons/Bookmark.png');
    -fx-opacity: 0.7;
    -fx-width: 30px;
    -fx-height: 30px;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: repeat;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-image: url('/Icons/Bookmark.png');
    -fx-opacity: 1.0;
    -fx-width: 30px;
    -fx-height: 30px;
    -fx-background-size: 100% 100%;
    -fx-background-repeat: repeat;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
