.combo-box {
    -fx-background-image: url('/Icons/Note.png');
    -fx-opacity: 0.9;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-repeat: repeat;
    -fx-background-size: 100% 100%;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.combo-box:hover {
    -fx-background-image: url('/Icons/Note.png');
    -fx-opacity: 1.0;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-repeat: repeat;
    -fx-background-size: 100% 100%;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.combo-box .arrow, .arrow-button{
    -fx-background-color: transparent;
}
