.button {
    -fx-background-color: #d0d0d0;
    -fx-background-radius: 3;
    -fx-background-insets: 5 5 5 5;
    -fx-border-radius: 2;
    -fx-border-width: 0 0 0 0;
    -fx-border-insets: 5 5 5 5;
    -fx-border-color: #767676;
    -fx-text-fill: #373737;
    -fx-text-alignment: left;
    -fx-font-family: Book Antique;
    -fx-font-size: 18px;
}

.button:hover {
    -fx-background-color: #a0a0a0;
    -fx-background-radius: 2;
    -fx-background-insets: 5 5 5 5;
    -fx-border-radius: 2;
    -fx-border-width: 1 1 1 1;
    -fx-border-insets: 5 5 5 5;
    -fx-border-color: #373737;
    -fx-text-fill: #fafafa;
    -fx-text-alignment: left;
    -fx-font-family: Book Antique;
    -fx-font-size: 18px;
}
