.root{
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
}

.progress-bar > .bar {
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0.20em;
    -fx-background-color: #00FF70;
    -fx-padding-color: transparent;
}
