.tab {
    -fx-background-color: #0c0c0d;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #6f6f6f;
    -fx-focus-color: transparent;
}

.tab:hover {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #fafafa;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: #6f6f6f;
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #fafafa;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
}

.tab:selected {
    -fx-background-color: #363636;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 5 0 0 1;
    -fx-border-color: #9f9f9f;
}

.tab:selected .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #00ffa3;
    -fx-font-family: "Calibri";
    -fx-font-weight: bold;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #0c0c0d;
}
